<html>
  <body>
    <!-- app/views/gossip/new.html.erb -->

    <%= form_tag url_for(action: 'create'), method: "post" do %>  

      <%= label_tag 'Title' %>
      <%= text_field_tag 'gossip[title]', @gossip.title %>
      <br /> <br />

      <%= label_tag 'Content' %>
      <%= text_area_tag 'gossip[content]', @gossip.content %>
      <br /> <br />

      <! --select_tag "tag_id", options_for_select(@tag.collect{|i| [i.title]}) !>

      <%= submit_tag "Create Gossip" %>

    <% end %>

    <!-- affiche les alertes -->
  </body>
</html>

<! -- Mon formulaire doit demander : 
            le titre du gossip créé
            le contenu du gossip crée
            partir de la méthode #create -->
